# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de ambiente e configuração
.env
.env.local
.env.development
.env.test
.env.production

# Arquivos de build e backup
*.tar.gz
*.zip
*.rar
appraizes-dockerhub.tar.gz

# Arquivos temporários
.temp
.tmp
temp/
tmp/
